.list-friends{
    font-size: 25px;
    font-weight: 600;
}

.list-friends .title{
    margin: 30px 0 9px 0;
}

.list-friends .accounts{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}

.list-friends .accounts .account{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-friends .accounts .account .left{
    display: flex;
    gap: 10px;
    margin: 5px 0;
    align-items: center;
}

.list-friends .accounts .account .left img{
    width: 50px;
    border-radius: 50%;
}

.list-friends .accounts .account .left .name{
    font-size: 18px;
}

.list-friends .accounts .account .right{
    margin-right: 20%;
}

.list-friends .accounts .account .right button{
    font-size: 15px;
    border: none;
    background-color: #212529;
    color: white;
    width: 80px;
    height: 33px;
    border-radius: 14px;
}